.navigation {
	display: flex;
	justify-content: center;
    list-style-type: none;
    overflow: hidden;
    background-color: white;
  }

  .catalogue-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .catalogue-dropdown-content:hover {
    display: block;
  }
  
  .navigation a:hover {
      background-color: #d17907;
  }

  .catalogue-dropdown-content a {
    text-decoration: none;
    color: black;
    padding: 12px 16px;
    display: block;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
    
  .dropdown:hover .catalogue-dropdown-content {
    display: block;
  }
  /* Links inside the dropdown */
  .dropdown-content a {
    text-decoration: none;
    color: black;
    padding: 12px 16px;
    display: block;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .nav-list {
        float: left;
        font-family:Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
      
  .nav-list a {
    display: block;
    color: black;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  li a:hover {
        background-color: #d17907;
  }
      
  .page-link:hover {
        cursor: pointer;
  }
 h1 {
       font-family: Arial, Helvetica, sans-serif;
       text-align: center;
 }
.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
	height: "292"; 
	width: "1001";
}

.instructions {
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 20px;
      margin-right: 20px;
	text-align: center;
}

.form-container {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;
}

.sign-up-form {
	width: 40%;
}


.login-form {
	width: 40%;
}

.registration-button {
	margin-top: 1%;
	margin-left: 1%;
}

label {
	font-family: arial, helvetica, sans-serif;
	display: inline-block;
	width: 200px;
	text-align: right;
	margin-right: 1%;
	margin-bottom: 1%;
}

input {
	flex-basis: 150px;
}

.error {
	color: red;
	text-align: center;
	font-weight: bold;
	font-family: arial, helvetica, sans-serif;
}

.welcome-message {
	text-align: right;
	font-family: arial, helvetica, sans-serif;
	margin-right: 10%;
}

.form-text {
	font-family: arial, helvetica, sans-serif;
	text-align: center;
}

.login-container {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;
}

.login-button {
	margin-top: 1%;
}